
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@font-face {
	font-family: 'Cruinn';
	src: url('./fonts/Cruinn.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Cruinn';
	src: url('./fonts/Cruinn-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'ActayWide';
	src: url('./fonts/ActayWide-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'ActayWide';
	src: url('./fonts/ActayWide-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}



*{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

body{
    background-color: #0E0E0E;
    background-image: url(img/Group\ 61.png);
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

 
/* .wrapper{
    margin-left: %;
    margin-right: 5.2%;
    /* 5.07 */
/* }  */
/* header */
header{
    display: none ;
}
.header_section{
   margin-left: 6.2%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.info_header{
   margin-top: 59px;
   display: flex;
   gap: 32px;
   
}

.info_header a{
   
   text-decoration: none;
   color: #FFFFFF99;
   font-family: Cruinn;      
   font-size: 18px;
   font-weight: 400;
   line-height: 19px;

   
   
   
}

.header_icons{
   display: flex;
   gap: 20px;
   margin-top: 59px;
   margin-right: 2%;

}
header{
    display: none;
}
/* header */

/* main */
/* секция заголовок */

.main_title{
margin-top: 42px;
margin-left: 7px;
}

h2{
font-family: 'ActayWide';
font-weight: 700;
font-size: 63px;
line-height: 81px;


}

.title_me{


align-items: center;

display: flex;

}
.title_me h2{
color: #FF006E;
}

.title_me p{
color: #FFFFFFCC;
font-family: Cruinn;
font-weight: 400;
font-size: 23px;
line-height: 28px;
margin: 5px 0px 20px 40px;


}
/* секция заголовок */

/* секция заголовок_video */

.video {
padding-top: 47px;
display: flex;

}
.img_1_video{
height: 140px;
width: 240px;
}
.img_2_video{
width: 136px;
height: 61px;
}
.title_video_button button{
margin-top: 25px;
width: 243px;
padding: 18px;
background: #FF006E;
border: none;
cursor: pointer;

font-family: Cruinn;
font-size: 18px;
font-weight: 500;
line-height: 23px;


border-radius: 4px;
gap: 10px;


}

.main_img{
margin-left: 30px;
}


/* секция заголовок_video */

/* секция block_info  */


.block_info{
margin-top: 120px;
}

.block_holiday{
width: 502px;

}

.block_holiday h3{
font-family: ActayWide;
font-size: 43px;
font-weight: 700;
line-height: 56px;


}

.block_holiday p{
font-family: Cruinn;
font-size: 22px;
font-weight: 400;
line-height: 25px;

margin-top: 10px;
color: #FFFFFFCC;
}

.block_holiday button{
/* font-family: Cruinn;
font-size: 18px;
font-weight: 500;
line-height: 21px;

padding: 18px, 52px, 20px, 52px;

border-radius: 4px;
margin-top: 65px;
background: #FF006E;
width: 100%;
height: 61px;  
cursor: pointer;
margin-right: 50%; */
border: none;
color: #ffffff00;
background: #ffffff00;

}

.block_humor{
height: 200px;
background: #FFFFFF08;

border-radius: 4px;
border: 1px solid #FFFFFF1F;
}
.backlight_blocks:hover  {
                                            /* доделать hover  */
   
background-color: #FF006E30; 
backdrop-filter: blur(50px);   

box-shadow: 0px 0px 50px 20px   #FF006E30;                                    
} 
.block_humor h3{
margin-left: 60px;
margin-top: 40px;
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 38px;
}
.block_humor p{
font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 400;
line-height: 24px;
margin: 8px 50px 40px 60px;
color: #FFFFFFCC;

}


.block_info_2{
margin-top: 20px
}


.block_music{
background: #FFFFFF08;
border-radius: 4px;
border: 1px solid #FFFFFF1F;
height: 200px;
margin-bottom: 20px;
}

.block_music h3{
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 38px;
margin-left: 60px;
margin-top: 40px;

}
.block_music p{
font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 400;
line-height: 24px;
margin: 8px 50px 40px 60px;
color: #FFFFFFCC;
}

.block_equipment{
background: #FFFFFF08;
border-radius: 4px;
border: 1px solid #FFFFFF1F;
height: 200px; 
border: 1px solid;
color: #FFFFFF1F;

}

.block_equipment h3{
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 38px;;

margin-left: 60px;
margin-top: 40px;

}
.block_equipment p{
font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 400;
line-height: 24px;


margin: 8px 50px 40px 60px;
color: #FFFFFFCC;
}

.block_anApproach{
margin-top: 20px;
background: #FFFFFF08;
border-radius: 4px;
border: 1px solid #FFFFFF1F;
height: 200px;

}
.block_anApproach h3{
margin-top: 40px;
margin-left: 60px;
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 38px;


}
.block_anApproach p{
margin: 8px 50px 40px 60px;

font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 400;
line-height: 24px;

color: #FFFFFFCC;  
}
.button_tablet{
margin-top: 40px;
width: 355px;
height: 55px;
margin-left: 24%;

background: rgba(255, 0, 110, 1);
border: none;
border-radius: 4px; 

}

/* секция block_info */

/* слайдер */
.header_slider{
margin-top: 120px;
display: flex;
}
.header_slider h3{
font-family: ActayWide;
font-size: 40px;
font-weight: 700;
line-height: 71px;
letter-spacing: 0em;
text-align: left;
}
.button_slider{
display: flex;
gap: 28px;
margin-left: 80px;
}
.button_slider button{
cursor: pointer;
background: #FFFFFF00;
border: none;
width: 30px;
height: 30px;
margin-top: 90px;
}
/* .header_slider img{ 
margin-top: 90px;
} */
.header_slider_img_left:hover{
background-image: url(./img/Frame\ 31\ —\ left_hover.png);
}
.header_slider_img_right:hover{
background-image: url(./img/Frame\ 31-right_hover.png);

}

.info_slide_main{
margin-top: 46px;
display: flex;
}
.info_slide_main img{
width: 355px;
height: 279px;
}
.info_slider {
margin-left: 20px;
width: 355px;
}
.info_slider h4{
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 43px;
}
.info_slider p{
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
line-height: 28px;
margin-top: 3.5px;
color: #FFFFFF90;
}
.info_slider button{
width: 335px;
height: 50px;
border: none;
border-radius: 4px;
background: #FF006E;    
margin-top: 10px;
cursor: pointer;

font-family: Cruinn;
font-size: 18px;
font-weight: 500;
line-height: 23px;


}
/*  слайдер*/




/* секция infoMe */


.infoMe{
margin-top: 120px;
display: flex;

}
.infoMe img{
width: 230px;
height: 316px;
}
.infoMe_text{
margin-left: 40px;
}

.infoMe_text h3{

font-family: ActayWide;
font-size: 36px;
font-weight: 700;
}
.infoMe_text li{
color: #FFFFFF90;
margin-top: 10px;
}

.infoMe_text ul{

font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
color: #FFFFFFE5;
margin-top: 32px;

}
/* секция infoMe */


/* communication_instructions */

.communication_instructions{
margin-top: 169px;
margin-left: 35%;
margin-right: 1%;


}
.title_instructions h4{
font-family: ActayWide;
font-size: 32px;
font-weight: 700;
/* line-height: 58px; */
}
.title_instructions p{
margin-top: 10px;
mix-blend-mode: 40px;
font-family: Montserrat Alternates;
font-size: 22px;
font-weight: 400;
/* line-height: 39px; */
color: #FFFFFFE5;
margin-bottom: 8px;
}

.instructions {
margin-top: 32px;
display: flex
}
.instructions_numbering p{
width: 60px;
font-family: Inter;
font-size: 36px;
font-weight: 700;
/* line-height: 44px; */


}   
.instructions_text{
width: 455px;
margin-left: 26px;
}
.instructions_text h5{
font-family: ActayWide;
font-size: 28px;
font-weight: 700;
line-height: 43px; 
margin-top: 4px; 
}
.instructions_text p{
font-family: Montserrat Alternates;
font-size: 22px;
font-weight: 400;
line-height: 34px;
color: #FFFFFFCC;

margin-top: 5px;

}
/* communication_instructions */

/*секция  tariff */

.tariff_price_title{
margin-top: 120px;
}
.tariff_price_title h3{
margin-left: 13%;
font-family: ActayWide;
font-size: 32px;
font-weight: 700;
line-height: 66px;


}

.tariff_price_title p{
margin-left: 33.7%;
font-family: Cruinn;
font-size: 22px;
font-weight: 400;
line-height: 34px;
}

.tariff_price{
margin-top: 40px;
margin-left: 16%;
display: block;
gap: 20px;
}

.tariff{
width: 400px;
background: #FFFFFF08;
border: 1px solid #FFFFFF20;
border-radius: 5px;
}
.tariff h5{
margin: 30px 0px 0px 30px;
font-family: ActayWide;
font-size: 28px;
font-weight: 700;   
}
.tariff ul{
margin: 24px 30px 30px 40px;
}
.tariff li{
margin-top: 8px;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;                                                         /*   узнать размеры      */
color: #FFFFFFE5;

}
.tariff img{
margin-left: 39%;
margin-top: 20px;
margin-bottom: 16px;
}
.marker_none{
list-style-type: none;
/* margin-top: px */
}
/* ограничения */
.MINI{
height: 352px;
width: 520px;
margin-bottom: 20px;
}
.PRO{
height: 386px;
width: 520px;
margin-bottom: 20px;
}
.PROMAX{
width: 520px;
}
                                                                        /* както обойти их  */
/* ограничения */

.button_price{
background: #FF006E;
cursor: pointer;
width: 520px;
height: 55px;
border-radius: 4px;
border: none;
margin-top: 40px;
margin-left: 16%;

font-family: Cruinn;
font-size: 18px;
font-weight: 500;
line-height: 23px;
}
/*секция  tariff */

/*   секция reviews_slider*/
.reviews_slider{
margin-top: 120px;
display: flex;
}

.reviews_slider h3{
font-family: ActayWide;
font-size: 32px;
font-weight: 700;
line-height: 70px;
}
.reviews_slider p{
font-family: Cruinn;
font-size: 22px;
font-weight: 400;
line-height: 36px;
margin-top: 10px;

}
.reviews_button_slider{

padding-top: 5.6%;
padding-left: 88px;
display: flex;
}

.reviews_button_slider button{
cursor: pointer;
background: #0E0E0E;
border: none;
width: 50px;
height: 50px;
}

.reviews_button_slider_left img:hover{
background-image: url(./img/Frame\ 31\ —\ left_hover.png)
}
.reviews_button_slider_right img:hover{
background-image: url(./img/Frame\ 31-right_hover.png)
}


.reviews_slider_info{
margin-top: 30px;
margin-bottom: 100px;
display: flex;
}
.reviews_slider_img img{
width: 210px;
height: 210px;
}

.reviews_slider_text{
margin-left: 20px;
margin-top: 40px;
}
.reviews_slider_text h5{
font-family: ActayWide;
font-size: 26px;
font-weight: 700;
}

.reviews_slider_text p{
margin-top: 16px;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 400;
color: #FFFFFFCC;


}
/* секция  reviews_sliderии*/

/* title */
.title_me_2{
display: flex;
}
.title_me_2 h2{
color: #FF006E;

}
.title_button{
margin-left: 40px;
padding-top: 13px;
}
.title_button button{
width: auto;
height: 45px;
border-radius: 4px;
border: none;
background: #FF006E;
cursor: pointer;

font-family: Cruinn;
font-size: 20px;
font-weight: 500;
line-height: 21px;
padding: 0px 55px 0px 55px;
}
/* title */


/* main */


/* footer */

.footer_info{
   display: flex;
   
   margin-top: 50px;
   justify-content: space-between;
}
.footer_info a{
   text-decoration: none;
}
.contact{
   display: flex;
   gap: 40px;
}
.contact_text p{
   font-family: Cruinn;
   font-size: 18px;
   font-weight: 400;
   line-height: 34px;
   color: #FFFFFFE5;

}
.contact_text a{
   font-family: ActayWide;
   font-size: 30px;
   font-weight: 700;
   line-height: 60px;
   /* padding-bottom: 50px; */
   
}
.number{
   font-family: Cruinn;
   font-size: 16px;
   font-weight: 400;
   line-height: 34px;
}
.footer_icon{
   display: flex;
   gap: 13px;
   margin-top: 50px;
}

.footer_icon img{
height: 25px;
width: 25px;
}

.info_website_footer{
   display: flex;
   
}
.info_website_footer_first{
width: 118px;
margin-left: 20px;
}
.info_website_footer_latest{
margin-left: 130px;
width: 59px;
}


.info_website_footer a{
   color: #FFFFFF99;
   font-family: Cruinn;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
}
.info_data_footer{
   display: flex;
   margin-top: 60px;
}
.data_footer {
   display: flex;

}
.info_data_footer a{
   color: #FFFFFF70;
   font-family: Cruinn;
   font-size: 14px;
   font-weight: 400;
   line-height: 15px;
}
.span_footer{
color: #ffffff00;
font-size: 0%;
}
.span_name_FOCUS{
color: #ffffff00;
font-size: 0%;
}
.icon_footer{   
margin-right: 20px;
}
.span_footer_table{
font-family: Cruinn;
font-size: 14px;
font-weight: 400;
line-height: 15px;
color: rgba(255, 255, 255, 0.4);
}
.span_name_FOCUS_tablet{
    font-family: Cruinn;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color: #FFFFFF80;
}
/* footer */
}




                                                                                                            /*др разрешение  */
@media screen and (min-width: 768px) and (max-width: 1024px){
 
	.wrapper{
        margin-left: 5.2%;
        margin-right: 5.2%;
        /* 5.07 */
    }
    /* header */
   
    .header_section{
       margin-left: 6.2%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       
   }
   
   .info_header{
       margin-top: 59px;
       display: flex;
       gap: 32px;
       
   }
   
   .info_header a{
       
       text-decoration: none;
       color: #FFFFFF99;
       font-family: Cruinn;      
       font-size: 18px;
       font-weight: 400;
       line-height: 19px;

       
       
       
   }
   
   .header_icons{
       display: flex;
       gap: 20px;
       margin-top: 59px;
       margin-right: 2%;
   
   }
   /* header */
   
   /* main */
/* секция заголовок */

.main_title{
    margin-top: 42px;
    margin-left: 7px;
}

h2{
    font-family: 'ActayWide';
    font-weight: 700;
    font-size: 63px;
    line-height: 81px;


}

.title_me{
  
   
    align-items: center;

    display: flex;
    
}
.title_me h2{
    color: #FF006E;
}

.title_me p{
    color: #FFFFFFCC;
    font-family: Cruinn;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    margin: 5px 0px 20px 40px;

    
}
/* секция заголовок */

/* секция заголовок_video */

.video {
    padding-top: 47px;
    display: flex;
    
}
.img_1_video{
    height: 140px;
    width: 240px;
}
.img_2_video{
    width: 410px;
    height: 228px;
}
.title_video_button button{
    margin-top: 25px;
    width: 243px;
    padding: 18px;
    background: #FF006E;
    border: none;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;

    
    border-radius: 4px;
    gap: 10px;
    
    
}

.main_img{
    margin-left: 30px;
}


/* секция заголовок_video */

/* секция block_info  */


.block_info{
    margin-top: 120px;
}

.block_holiday{
    width: 502px;
   
}

.block_holiday h3{
    font-family: ActayWide;
    font-size: 43px;
    font-weight: 700;
    line-height: 56px;
    

}

.block_holiday p{
    font-family: Cruinn;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;

    margin-top: 10px;
    color: #FFFFFFCC;
}

.block_holiday button{
    /* font-family: Cruinn;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    padding: 18px, 52px, 20px, 52px;
    
    border-radius: 4px;
    margin-top: 65px;
    background: #FF006E;
    width: 100%;
    height: 61px;  
    cursor: pointer;
    margin-right: 50%; */
    border: none;
    color: #ffffff00;
    background: #ffffff00;
 
}

.block_humor{
    height: 200px;
    background: #FFFFFF08;
    
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
}
 .backlight_blocks:hover  {
                                                /* доделать hover  */
       
   background-color: #FF006E30; 
   backdrop-filter: blur(50px);   

   box-shadow: 0px 0px 50px 20px   #FF006E30;                                    
} 
.block_humor h3{
    margin-left: 60px;
    margin-top: 40px;
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}
.block_humor p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 50px 40px 60px;
    color: #FFFFFFCC;

}


.block_info_2{
    margin-top: 20px
}


.block_music{
    background: #FFFFFF08;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
    height: 200px;
    margin-bottom: 20px;
}

.block_music h3{
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 60px;
    margin-top: 40px;
    
}
.block_music p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 50px 40px 60px;
    color: #FFFFFFCC;
}

.block_equipment{
    background: #FFFFFF08;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
    height: 200px; 
    border: 1px solid;
    color: #FFFFFF1F;

}

.block_equipment h3{
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;;

   margin-left: 60px;
   margin-top: 40px;

}
.block_equipment p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

   
    margin: 8px 50px 40px 60px;
    color: #FFFFFFCC;
}

.block_anApproach{
    margin-top: 20px;
    background: #FFFFFF08;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
    height: 200px;
    
}
.block_anApproach h3{
    margin-top: 40px;
    margin-left: 60px;
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;


}
.block_anApproach p{
    margin: 8px 50px 40px 60px;

    font-family: Montserrat Alternates;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #FFFFFFCC;  
}
.button_tablet{
    margin-top: 40px;
    width: 355px;
    height: 55px;
    margin-left: 24%;

background: rgba(255, 0, 110, 1);
border: none;
border-radius: 4px; 

}

/* секция block_info */

/* слайдер */
.header_slider{
    margin-top: 120px;
    display: flex;
}
.header_slider h3{
    font-family: ActayWide;
    font-size: 40px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: left;
}
.button_slider{
    display: flex;
    gap: 28px;
    margin-left: 80px;
}
.button_slider button{
    cursor: pointer;
    background: #FFFFFF00;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 90px;
}
/* .header_slider img{ 
 margin-top: 90px;
} */
.header_slider_img_left:hover{
    background-image: url(./img/Frame\ 31\ —\ left_hover.png);
}
.header_slider_img_right:hover{
    background-image: url(./img/Frame\ 31-right_hover.png);
    
}

.info_slide_main{
    margin-top: 46px;
    display: flex;
}
.info_slide_main img{
    width: 355px;
    height: 279px;
}
.info_slider {
    margin-left: 20px;
    width: 355px;
}
.info_slider h4{
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 43px;
}
.info_slider p{
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 3.5px;
    color: #FFFFFF90;
}
.info_slider button{
    width: 335px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #FF006E;    
    margin-top: 10px;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;


}
/*  слайдер*/




/* секция infoMe */


.infoMe{
    margin-top: 120px;
    display: flex;
    
}
.infoMe img{
    width: 230px;
    height: 316px;
}
.infoMe_text{
    margin-left: 40px;
}

.infoMe_text h3{
    
    font-family: ActayWide;
    font-size: 36px;
    font-weight: 700;
}
.infoMe_text li{
    color: #FFFFFF90;
    margin-top: 10px;
}

.infoMe_text ul{
    
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFE5;
    margin-top: 32px;
 
}
/* секция infoMe */


/* communication_instructions */

.communication_instructions{
    margin-top: 169px;
    margin-left: 35%;
    margin-right: 1%;
    
    
}
.title_instructions h4{
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    /* line-height: 58px; */
}
.title_instructions p{
    margin-top: 10px;
    mix-blend-mode: 40px;
    font-family: Montserrat Alternates;
    font-size: 22px;
    font-weight: 400;
    /* line-height: 39px; */
    color: #FFFFFFE5;
    margin-bottom: 8px;
}

.instructions {
    margin-top: 32px;
    display: flex
}
.instructions_numbering p{
    width: 60px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    /* line-height: 44px; */


}   
.instructions_text{
    width: 455px;
    margin-left: 26px;
}
.instructions_text h5{
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;
    line-height: 43px; 
    margin-top: 4px; 
}
.instructions_text p{
    font-family: Montserrat Alternates;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFFCC;

    margin-top: 5px;

}
/* communication_instructions */

/*секция  tariff */

.tariff_price_title{
    margin-top: 120px;
}
.tariff_price_title h3{
    margin-left: 13%;
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 66px;


}

.tariff_price_title p{
    margin-left: 33.7%;
    font-family: Cruinn;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

.tariff_price{
    margin-top: 40px;
    margin-left: 16%;
    display: block;
    gap: 20px;
}

.tariff{
    width: 400px;
    background: #FFFFFF08;
    border: 1px solid #FFFFFF20;
    border-radius: 5px;
}
.tariff h5{
    margin: 30px 0px 0px 30px;
    font-family: ActayWide;
    font-size: 28px;
    font-weight: 700;   
}
.tariff ul{
    margin: 24px 30px 30px 40px;
}
.tariff li{
    margin-top: 8px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;                                                         /*   узнать размеры      */
    color: #FFFFFFE5;

}
.tariff img{
    margin-left: 39%;
    margin-top: 20px;
    margin-bottom: 16px;
}
.marker_none{
    list-style-type: none;
    /* margin-top: px */
}
/* ограничения */
.MINI{
    height: 352px;
    width: 520px;
    margin-bottom: 20px;
}
.PRO{
    height: 386px;
    width: 520px;
    margin-bottom: 20px;
}
.PROMAX{
    width: 520px;
}
                                                                            /* както обойти их  */
/* ограничения */

.button_price{
    background: #FF006E;
    cursor: pointer;
    width: 520px;
    height: 55px;
    border-radius: 4px;
    border: none;
    margin-top: 40px;
    margin-left: 16%;

    font-family: Cruinn;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}
/*секция  tariff */

/*   секция reviews_slider*/
.reviews_slider{
    margin-top: 120px;
    display: flex;
}

.reviews_slider h3{
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 70px;
}
.reviews_slider p{
    font-family: Cruinn;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 10px;
    
}
.reviews_button_slider{
    
    padding-top: 5.6%;
    padding-left: 88px;
    display: flex;
}

.reviews_button_slider button{
    cursor: pointer;
    background: #0E0E0E;
    border: none;
    width: 50px;
    height: 50px;
}

.reviews_button_slider_left img:hover{
    background-image: url(./img/Frame\ 31\ —\ left_hover.png)
}
.reviews_button_slider_right img:hover{
    background-image: url(./img/Frame\ 31-right_hover.png)
}


.reviews_slider_info{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
}
.reviews_slider_img img{
    width: 210px;
    height: 210px;
}

.reviews_slider_text{
    margin-left: 20px;
    margin-top: 40px;
}
.reviews_slider_text h5{
    font-family: ActayWide;
    font-size: 26px;
    font-weight: 700;
}

.reviews_slider_text p{
    margin-top: 16px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFCC;

    
}
/* секция  reviews_sliderии*/

/* title */
.title_me_2{
    display: flex;
}
.title_me_2 h2{
    color: #FF006E;

}
.title_button{
    margin-left: 40px;
    padding-top: 13px;
}
.title_button button{
    width: auto;
    height: 45px;
    border-radius: 4px;
    border: none;
    background: #FF006E;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    padding: 0px 55px 0px 55px;
}
/* title */


/* main */
   
   
   /* footer */
   
   .footer_info{
       display: flex;
       
       margin-top: 50px;
       justify-content: space-between;
   }
   .footer_info a{
       text-decoration: none;
   }
   .contact{
       display: flex;
       gap: 40px;
   }
   .contact_text p{
       font-family: Cruinn;
       font-size: 18px;
       font-weight: 400;
       line-height: 34px;
       color: #FFFFFFE5;
   
   }
   .contact_text a{
       font-family: ActayWide;
       font-size: 30px;
       font-weight: 700;
       line-height: 60px;
       /* padding-bottom: 50px; */
       
   }
   .number{
       font-family: Cruinn;
       font-size: 16px;
       font-weight: 400;
       line-height: 34px;
   }
   .footer_icon{
       display: flex;
       gap: 13px;
       margin-top: 50px;
   }
   
   .footer_icon img{
    height: 25px;
    width: 25px;
   }

   .info_website_footer{
       display: flex;
       
   }
   .info_website_footer_first{
    width: 118px;
    margin-left: 20px;
   }
   .info_website_footer_latest{
    margin-left: 130px;
    width: 59px;
   }


   .info_website_footer a{
       color: #FFFFFF99;
       font-family: Cruinn;
       font-size: 18px;
       font-weight: 400;
       line-height: 30px;
   }
   .info_data_footer{
       display: flex;
       margin-top: 60px;
   }
   .data_footer {
       display: flex;

   }
   .info_data_footer a{
       color: #FFFFFF70;
       font-family: Cruinn;
       font-size: 14px;
       font-weight: 400;
       line-height: 15px;
   }
   .span_footer{
    color: #ffffff00;
    font-size: 0%;
   }
   .span_name_FOCUS{
    color: #ffffff00;
    font-size: 0%;
}
.icon_footer{   
    margin-right: 20px;
}
    .span_footer_table{
    font-family: Cruinn;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.4);
}
    .span_name_FOCUS_tablet{
        font-family: Cruinn;
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
        color: #FFFFFF80;
}
   /* footer */
   }





                                                                                                    /* пк версия */


@media (min-width: 1024px) {
    .wrapper{
        margin-left: 18.75%;
        margin-right: 18.75%;
    }
    /* header */

.header_section{
    margin-left: 19.35%;
    /* padding-left: 26px; */
    display: flex;
    align-items: center;
    
}

.info_header{
    margin-top: 59px;
    display: flex;
    gap: 32px;
    
}

.info_header a{
    
    text-decoration: none;
    color: #FFFFFF99;
    font-family: Cruinn;
    font-size: 20px;
    font-weight: 400;
    
    
}

.header_icons{

    display: flex;
    gap: 20px;
    margin-top: 59px;
    margin-left: 38.5%;

}


/* header */

/* main */
/* секция заголовок */

.main_title{
    margin-top: 42px;
    margin-left: 7px;
}

h2{
    font-family: 'ActayWide';
    font-size: 110px;
    font-weight: 700;
    line-height: 139px;
}

.title_me{
  
   
    align-items: center;

    display: flex;
    
}
.title_me h2{
    color: #FF006E;
}

.title_me p{
    color: #FFFFFFCC;
    font-family: Cruinn;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 20px;
    margin-left: 79px;
    
}
/* секция заголовок */

/* секция заголовок_video */

.video {
    padding-top: 67px;
    display: flex;
    
}

.title_video_button button{
    margin-top: 80px;
    width: 320px;
    padding: 22px 76.5px;
    background: #FF006E;
    border: none;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;

    
    border-radius: 4px;
    gap: 10px;
    
    
}

.main_img{
    margin-left: 80px;
}


/* секция заголовок_video */

/* секция block_info  */


.block_info{
    margin-top: 190px;
    align-items: center;
    display: flex
    
}

.block_holiday{
    width: 551px;
   
}

.block_holiday h3{
    font-family: ActayWide;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    

}

.block_holiday p{
    font-family: Cruinn;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;

    margin-top: 10px;
    color: #FFFFFFCC;
}

.block_holiday button{
    font-family: Cruinn;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;

    padding: 20px, 52px, 20px, 52px;
    border: none;
    border-radius: 4px;
    margin-top: 65px;
    background: #FF006E;
    width: 100%;
    height: 61px;  
    cursor: pointer;
 
}

.block_humor{
    height: 240px;
    margin-left: 40px;
    background: #FFFFFF08;
    width: 620px;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
}
 .backlight_blocks:hover  {
                                                /* доделать hover  */
       
   background-color: #FF006E30; 
   backdrop-filter: blur(50px);   

   box-shadow: 0px 0px 50px 20px   #FF006E30;                                    
} 
.block_humor h3{
    margin-left: 60px;
    margin-top: 40px;
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
.block_humor p{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 60px;
    margin-top: 12px;
    color: #FFFFFFCC;

}


.block_info_2{
    display: flex;
    margin-top: 40px
    
    
}


.block_music{
    background: #FFFFFF08;
    width: 569px;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
    height: 264px;
}

.block_music h3{
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 60px;
    margin-top: 40px;
    
}
.block_music p{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 60px;
    margin-top: 12px;
    color: #FFFFFFCC;
}

.block_equipment{
    margin-left: 40px;
    background: #FFFFFF08;
    width: 641px;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;

}

.block_equipment h3{
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;;

   margin-left: 60px;
   margin-top: 52px;

}
.block_equipment p{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    margin-left: 60px;
    margin-top: 12px;
    color: #FFFFFFCC;
}

.block_anApproach{
    margin-top: 40px;
    background: #FFFFFF08;
    border-radius: 4px;
    border: 1px solid #FFFFFF1F;
    height: 178px;
    
}
.block_anApproach h3{
    margin-top: 40px;
    margin-left: 60px;
    font-family: ActayWide;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;


}
.block_anApproach p{
    margin-left: 60px;
    margin-top: 12px;

    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFFCC;
}
 .button_tablet{
    border: none;
    color: #ffffff00;
    background: #ffffff00;
 }

/* секция block_info */

/* слайдер */
.header_slider{
    margin-top: 180px;
    display: flex;
}
.header_slider h3{
    width: 730px;
    height: 142px;
    font-family: ActayWide;
    font-size: 59px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: left;
}
.button_slider{
    display: flex;
    gap: 28px;
    margin-left: 80px;
}
.button_slider button{
    cursor: pointer;
    background: #FFFFFF00;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 90px;
}
/* .header_slider img{ 
 margin-top: 90px;
} */
.header_slider_img_left:hover{
    background-image: url(./img/Frame\ 31\ —\ left_hover.png);
}
.header_slider_img_right:hover{
    background-image: url(./img/Frame\ 31-right_hover.png);
    
}

.info_slide_main{
    margin-top: 46px;
    display: flex;
}

.info_slider {
    margin-left: 60px;
}
.info_slider h4{
    font-family: ActayWide;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    padding-bottom: 12px;
}
.info_slider p{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 12px;
    color: #FFFFFF90;
}
.info_slider button{
    width: 391px;
    height: 67px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    background: #FF006E;    
    margin-top: 67px;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;


}
/*  слайдер*/




/* секция infoMe */


.infoMe{
    margin-top: 250px;
    display: flex;
    
}

.infoMe_text{
    margin-left: 88px;
}

.infoMe_text h3{
    
    font-family: ActayWide;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
}
.infoMe_text li{
    color: #FFFFFF90;
    margin-top: 20px;
}

.infoMe_text ul{
    
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    color: #FFFFFFE5;
    margin-top: 32px;
 
}
/* секция infoMe */


/* communication_instructions */

.communication_instructions{
    margin-top: 270px;
    margin-left: 46%;
    margin-right: 15%;
    
    
}
.title_instructions h4{
    font-family: ActayWide;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}
.title_instructions p{
    margin-top: 10px;
    mix-blend-mode: 40px;
    font-family: Montserrat Alternates;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: #FFFFFFE5;
    margin-bottom: 8px;
}

.instructions {
    margin-top: 32px;
    display: flex
}
.instructions_numbering p{
    width: 60px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;


}   
.instructions_text{
    width: 585px;
    margin-left: 36px;
}
.instructions_text h5{
    font-family: ActayWide;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px; 
    margin-top: 4px; 
}
.instructions_text p{
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFFCC;

    margin-top: 5px;

}
/* communication_instructions */

/*секция  tariff */

.tariff_price_title{
    margin-top: 266px;
}
.tariff_price_title h3{
    margin-left: 25%;
    font-family: ActayWide;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;


}

.tariff_price_title p{
    margin-left: 42%;
    font-family: Cruinn;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
}

.tariff_price{
    margin-top: 69px;
    display: flex;
    /* display: block; */
    gap: 40px;

}

.tariff{
    width: 400px;
    background: #FFFFFF08;
    border: 1px solid #FFFFFF20;
    border-radius: 5px;
}
.tariff h5{
    margin: 40px 0px 0px 40px;

    font-family: ActayWide;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
}
.tariff ul{
    margin: 32px 40px 40px 40px;
}
.tariff li{
    margin-top: 8px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;                                                         /*   узнать размеры      */
    color: #FFFFFFE5;

}
.tariff img{
    margin-left: 39%;
    margin-top: 20px;
    margin-bottom: 16px;
}
.marker_none{
    list-style-type: none;

}
/* ограничения */
.MINI{
    height: 491px;
}
.PRO{
    height: 575px;
}
                                                                            /* както обойти их  */
/* ограничения */

.button_price{
    background: #FF006E;
    cursor: pointer;
    width: 426px;
    height: 67px;
    border-radius: 4px;
    border: none;
    margin-top: 56px;
    margin-left: 38.9%;

    font-family: Cruinn;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
    /* padding: 22px 96.5px; */
}
/*секция  tariff */

/*   секция reviews_slider*/
.reviews_slider{
    margin-top: 150px;
    display: flex;
}
.reviews_slider h3{
    font-family: ActayWide;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}
.reviews_slider p{
    font-family: Cruinn;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 10px;
    
}
.reviews_button_slider{
    
    padding-top: 5.6%;
    padding-left: 88px;
    display: flex;

}

.reviews_button_slider button{
    cursor: pointer;
    background: #0E0E0E;
    border: none;
    width: 50px;
    height: 50px;
}

.reviews_button_slider_left img:hover{
    background-image: url(./img/Frame\ 31\ —\ left_hover.png)
}
.reviews_button_slider_right img:hover{
    background-image: url(./img/Frame\ 31-right_hover.png)
}


.reviews_slider_info{
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
}

.reviews_slider_text{
    margin-left: 40px;
}
.reviews_slider_text h5{
    font-family: ActayWide;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
}

.reviews_slider_text p{
    margin-top: 16px;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFFCC;

    
}
/* секция  reviews_sliderии*/

/* title */
.title_me_2{
    display: flex;
    justify-content: center;
}
.title_me_2 h2{
    color: #FF006E;

}
.title_button{
    margin-left: 62px;
    padding-top: 21px;
}
.title_button button{
    width: 544px;
    height: 76px;
    border-radius: 4px;
    border: none;
    background: #FF006E;
    cursor: pointer;

    font-family: Cruinn;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    padding: 27px 166px 27px 166px;
}
/* title */


/* main */

/* footer */

.footer_info{
    display: flex;
    
    margin-top: 50px;
    justify-content: space-between;
}
.footer_info a{
    text-decoration: none;
}
.contact{
    display: flex;
    gap: 68px;
}
.contact_text p{
    font-family: Cruinn;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFFE5;

}
.contact_text a{
    font-family: ActayWide;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    
}
.number{
    font-family: Cruinn;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}
.footer_icon{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}



.info_website_footer{
    display: flex;
    
    /* gap: 52px; */
    width: 587px;
}
.info_website_footer_first{
    display: flex;
    gap: 52px;
}
.info_website_footer_latest{
    margin-left: 52px;
    display: flex;
    gap: 52px;
    }
.info_website_footer a{
    color: #FFFFFF99;
    font-family: Cruinn;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}
.info_data_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}

.data_footer {
    display: flex;
    gap: 20px; 
}
.info_data_footer a{
    color: #FFFFFF70;
    font-family: Cruinn;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}
.span_footer{
    font-family: Cruinn;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.4);

}
.span_name_FOCUS{
    font-family: Cruinn;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color: #FFFFFF80;
}
.span_name_FOCUS_tablet{
    color: #ffffff00;
}
.span_footer_table{
    color: #ffffff00;
}
/* footer */
};
























