
@font-face {
	font-family: 'Cruinn';
	src: url('Cruinn.woff2') format('woff2') url('Cruinn.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Cruinn';
	src: url('Cruinn-Medium.woff2') format('woff2') url('Cruinn-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

